.menu{
    display: flex;
    flex-direction: column;
    width: 480px;
    height: 480px;
    background-color: #e0e0e0;
    margin-top: 10%;
    align-items: center;
    justify-content: center;
    border-radius: 10%;
    border-style: solid;
    border-color: #fff;
    border-width: 5px;
}
#prompt{
    width: 50%;
    height:50px;
    border-color: blUE;
    border-style: solid;
    border-radius: 10rem;
    text-align: center;
    border-width: 3px
}

#submit{
    width: 50%;
    height: 50px;
    color: #fff;
    background-color: blue;
    border-radius: 20px;
    font-size: 25px;
    margin-top: 20px;
}

h1{
    color: royalblue;
    font-family: sans-serif;
}

body{
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    vertical-align: center;
    flex-direction: flex;
    margin: 0;
    padding: 0%;
}



